/* Reset */
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{border:0;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:none}table{border-collapse:collapse;border-spacing:0}

/* Clearfix */
.cf:before, .cf:after { content:" "; display:table; }
.cf:after { clear:both; }

/* Fonts */
@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);

/* Start */
 ::-webkit-input-placeholder {
    font-weight: 600; color: #bababa;
}
:-moz-placeholder {
    font-weight: 600; color: #666;
}
::-moz-placeholder {
    font-weight: 600; color: #666;
}
:-ms-input-placeholder {
    font-weight: 600; color: #bababa;
}
img {
    margin: 0 auto;
    display:block;
}
input, button {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
::-moz-focus-inner {
    padding: 0;
    border: 0;
}
html {
    font: 12px/20px "Lato", "Trebuchet MS", Helvetica, sans-serif;
    color: #404040;
    background: #e0c293;
}
.mui-cont {
    color: #999;
    min-width: 140px;
    max-width: 340px;
    margin: 10px auto;
    padding: 12px;
    background: rgba(255, 255, 255, 0.5);
    -webkit-border-radius: 14px;
    -moz-border-radius: 14px;
    border-radius: 14px;
}
.mui-inner {
    padding: 15px;
    background: none;
    zoom: 1;
    background-color: rgba(10, 87, 135, 0.55);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#FFFFFAF0, endColorstr=#FFFFFAF0)";
    background-image: -ms-linear-gradient(top, #FFFFFF 0%, #fffaf0 100%);
    background-image: -moz-linear-gradient(top, #FFFFFF 0%, #fffaf0 100%);
    background-image: -o-linear-gradient(top, #FFFFFF 0%, #fffaf0 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #FFFFFF), color-stop(1, #fffaf0));
    background-image: -webkit-linear-gradient(top, #FFFFFF 0%, #fffaf0 100%);
    background-image: linear-gradient(to bottom, #FFFFFF 0%, #fffaf0 100%);

    border: 1px solid #fff;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.1), 0 2px 4px rgba(0, 0, 0, 0.4);
    box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.1), 0 2px 4px rgba(0, 0, 0, 0.4);
}
.mui-header {
    letter-spacing: 0.03em;
    font-weight: 700;
    font-size:15px;
    color: #bcbcbc;
    padding-bottom: 6px;
    margin-bottom: 19px;
    border-bottom: 1px solid #ddd;
    -webkit-box-shadow: 0 1px 0 1px #fff;
    box-shadow: 0 1px 0 1px #fff;
}
.mui-login {
    white-space:nowrap;
    color: #7d7874;
    text-transform:uppercase;
}
.mui-sign-up {
    white-space:nowrap;
    color: #eebc52;
    text-transform:uppercase;
}
.mui-col-left, .mui-col-right {
    width: 50%;
}
li.mui-col-left {
    float: left;
}
li.mui-col-right {
    float: right;
}
li.mui-col-left .mui-col-padd {
    padding-right: 3px;
}
li.mui-col-right .mui-col-padd {
    padding-left: 3px;
}
.mui-display {
    margin: 0 0 20px;
    padding: 3px;
    background: #222;
    border-radius: 3px;
    -webkit-box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.1), 0 0 0 1px rgba(255, 255, 255, 0.08);
    box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.1), 0 0 0 1px rgba(255, 255, 255, 0.08);
}
.mui-cont label:before {
    display:block; float:left;
    content: "\00a0 ";
    background: url('https://bytebucket.org/aditsaxena/css-coding-challenge/raw/53df6cad15ae820c12b66873e6a0ce83ce5561b0/images/icons.png') no-repeat;
    width:10px; height:10px;
    margin-right: 4px;
    margin-top:-1px;
}
.mui-cont label.label-password:before {
    background-position: right;
}

.mui-cont label {
    display:block;
    font-size: 11px;
    text-transform: uppercase;
    margin-bottom:6px;
}
.mui-input {
    display: block;
    width: 100%;
    height: 35px;
    padding: 0 4px;
    color: #999;
    background: #fff;
    background-clip: padding-box;
    /* Don't let the background bleed outside the border */
    border: 3px solid #e9e5e2;
    border-radius: 4px;
}
.mui-row {
    margin-top: 7px;
    zoom: 1;
}
.mui-row:before, .mui-row:after {
    content:'';
    display: table;
}
.mui-row:after {
    clear: both;
}
.mui-button:before {
    content:"\a0";
    display:block;
    padding:2px 0;
    line-height:1px;
    border-top:1px solid rgba(255, 255, 255, 0.4);
}
.mui-button {
    padding: 0;
    width: 100%;
    padding-bottom: 4px;
    font: 15px/25px "Lato", "Trebuchet MS", Helvetica, sans-serif;
    font-weight: 600;
    color: #906026;
    text-align: center;
    text-decoration: none;
    text-shadow: 0 1px rgba(255, 255, 255, 0.2);
    background: #313131;
    background-clip: padding-box !important;
    border: 0;
    border: 1px solid #e6af63;
    border-radius: 3px;
    cursor: pointer;
    background: none;
    zoom: 1;
    background-color: rgba(10, 87, 135, 0.55);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#FFFDD46D, endColorstr=#FFFDB451)";
    background-image: -webkit-linear-gradient(top, #fdd46d, #fdb451);
    background-image: -moz-linear-gradient(top, #fdd46d, #fdb451);
    background-image: -o-linear-gradient(top, #fdd46d, #fdb451);
    background-image: linear-gradient(to bottom, #fdd46d, #fdb451);
}
.mui-button:hover {
    background: none;
    zoom: 1;
    background-color: rgba(10, 87, 135, 0.55);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#FFFDB451, endColorstr=#FFFDD46D)";
    background-image: -webkit-linear-gradient(top, #fdb451, #fdd46d);
    background-image: -moz-linear-gradient(top, #fdb451, #fdd46d);
    background-image: -o-linear-gradient(top, #fdb451, #fdd46d);
    background-image: linear-gradient(to bottom, #fdb451, #fdd46d);
}
.mui-button:active {
  position: relative;
  top: 1px;
}
.mui-login-btn-tw {
    font-weight:normal;
    font-size: 13px;
    color: #fff;
    color: rgba(255, 255, 255, 0.9);
    text-shadow: 0px 1px rgba(255, 255, 255, 0), 0px -1px rgba(100, 100, 100, 0.7);
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 1px solid #3f85ac;
    background: none;
    zoom: 1;
    background-color: rgba(10, 87, 135, 0.55);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#FF46A5CE, endColorstr=#FF3289C6)";
    background-image: -webkit-linear-gradient(top, #46a5ce, #3289c6);
    background-image: -moz-linear-gradient(top, #46a5ce, #3289c6);
    background-image: -o-linear-gradient(top, #46a5ce, #3289c6);
    background-image: linear-gradient(to bottom, #46a5ce, #3289c6);
}
.mui-login-btn-tw:hover {
    background: none;
    zoom: 1;
    background-color: rgba(10, 87, 135, 0.55);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#FF3289C6, endColorstr=#FF46A5CE)";
    background-image: -webkit-linear-gradient(top, #3289c6, #46a5ce);
    background-image: -moz-linear-gradient(top, #3289c6, #46a5ce);
    background-image: -o-linear-gradient(top, #3289c6, #46a5ce);
    background-image: linear-gradient(to bottom, #3289c6, #46a5ce);
}
.mui-cont .txt-right {
    text-align: right;
}
.mui-cont .small-text { font-size:0.9em; }
.mui-tools {
    margin-top: 10px;
}

/* Responsive */
@media (max-width: 350px) {
    .mui-col-left, .mui-col-right {
        float: none !important;
        margin: 3px auto 0 auto;
        width: 100%;
    }
    .mui-form .mui-col-right {
        margin-top: 10px;
    }
    .mui-col-padd {
        padding:0 !important;
    }
}

/* Not part of the test */
p.content { text-align: center; padding: 10px; }
h3 { font-size: 14px; font-weight: 600; margin-top: 40px; text-align: center; margin: 30px 0 5px 0; }
.responsive-cont { margin: 0 auto; }
a, a:active, a:focus, a:visited { color: #C27415; }
